$arcoblue-6: #165dff;
$layout-header-height: 48px;
$layout-sider-background: #1d2129;
$menu-dark-bg: $layout-sider-background;
$menu-collapsed-width: 60px;
$menu-item-height: 46px;
$menu-item-font-size: 14px;
